<% layout('layouts/boilerplate') %> <!--to add styles in a single sheet-->
<div class="container mt-4 mb-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center"><u>InternHub</u></h1>
            <h3>What is InternHub?</h3>
            <hr>
            <p>
              <strong class="text-danger">InterHub</strong> is a  student website.Where students can suggest/put their own/others Internship opportunities and also share their experience via reviewing those internship opportunities. To get started, simply
              <a href="/register"><button class="btn btn-sm btn-success mt-1 pb-1">Register</button></a>.
            </p>
            <p>
              This was a project for a Protoype purpose. StudentHub was created using Node.js, Express, and MongoDB.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove internships</li>
              <li>Users can review Internships and edit or remove their review</li>
              <li>Search internship by name or location</li>
            </ul>
            <h3>Notifications</h3>
              <hr>
              <ul>
              <li>Update: Due to the change of policy in google, forgot password is not working , if you facing any issue contact: <a class="btn btn-info" href="mailto:you6706333@gmail.com">Admin</a></li>
            </ul>
            </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
